<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="font-size: 15px">
	<div class="row">
    <h6 class="nav-link" style="color: gray;font-weight: bold;font-size: 17px">
          Help & FAQ
    </h6>
  </div>
	<div class="row">
		<a class="nav-link" href="{% url 'main:find-course' %}" style="color: #0470EC;">
          Find Courses?
    </a>
	</div>	
  <div class="row">
    <a class="nav-link" href="{% url 'main:select-stream' %}" style="color: #0470EC;">
          Select Stream?
    </a>
  </div>  	
  <div class="row">
    <a class="nav-link" href="{% url 'main:university-help' %}" style="color: #0470EC;">
          Universities?
    </a>
  </div> 
  <div class="row">
    <a class="nav-link" href="{% url 'main:stream-help' %}" style="color: #0470EC;">
          Streams?
    </a>
  </div>
  <div class="row">
    <a class="nav-link" href="{% url 'main:course-help' %}" style="color: #0470EC;">
          Courses?
    </a>
  </div> 
  <div class="row">
    <a class="nav-link" href="{% url 'main:resource' %}" style="color: #0470EC;">
          Resources
    </a>
  </div>  
  <div class="row">
    <a class="nav-link" href="{% url 'main:search-result' %}" style="color: #0470EC;">
          Search Results
    </a>
  </div> 

</div>

