{% load static %}
<nav class="navbar navbar-expand-md col-xl-11 col-md-11 col-lg-11">
  <div class="mt-3 mr-5">
    <a  href="/">
    <h2 style="font-weight: bold">ClimbUP</h2>
    </a>
  </div>
  <div class="collapse mt-3 navbar-collapse col-sm-12 col-md-12 col-lg-12 col-xl-12" id="navbarSupportedContent" style="font-weight: bold">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-2" href="{% url 'university:list' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color: #0470EC;">
          Universities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity:0.95;background: #F5F7FA">
          {% include 'snippits/university.html' with university=university %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0470EC">
          Streams
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="opacity:0.95;background: #F5F7FA">
          {% include 'snippits/stream.html' with stream=stream %}
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link mr-2" href="{% url 'course:list' %}">
          Courses<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #0470EC">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 100px;opacity:0.95;background: #F5F7FA">
          {% include 'snippits/help.html'%}
        </div>
      </li>

      

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0 col-sm-12 col-md-8 col-lg-7 col-xl-6 ml-auto" >
      <input class="form-control mr-sm-2 shadow-sm p-3 bg-white rounded" type="search" placeholder="University, Course, Stream ..." aria-label="Search" style="width: 250px;min-width: 200px">
      <button class="btn btn-outline-success  my-sm-0 shadow-sm  rounded" style="background: #0470EC;color:white;border:1px solid #0470EC" type="submit">Search</button>
    </form> -->
  </div>
</nav>