<select class="btn btn-secondary dropdown-toggle" style="width: 100px" required="True" name="{{name}}">
	<option value="">District</option>
	<option value='Ampara'>Ampara</option>
	<option value='Anuradhepura'>Anuradhepura</option>
	<option value='Batticloa'>Batticloa</option>
	<option value='Badullah'>Badullah</option>
	<option value='Colombo'>Colombo</option>
	<option value='Kandy'>Kandy</option>
	<option value='Jaffna'>Jaffna</option>
	<option value='Kegalle'>Kegalle</option>
	<option value='Gampaha'>Gampaha</option>
	<option value='kilinochi'>kilinochi</option>
	<option value='Mullaithivu'>Mullaithivu</option>
	<option value='Trincomeli'>Trincomeli</option>
	<option value='Mannar'>Mannar</option>
	<option value='Polannaruwa'>Polannaruwa</option>
	<option value='Puttalam'>Puttalam</option>
	<option value='Galle'>Galle</option>
	<option value='Matara'>Matara</option>
	<option value='Hambandhota'>Hambandhota</option>
	<option value='Kalutara'>Kalutara</option>
	<option value='Monaragale'>Monaragale</option>
	<option value='Kurunegale'>Kurunegale</option>
	<option value='Nuwareliya'>Nuwareliya</option>
	<option value='Matale'>Matale</option>
	<option value='Ratnapura'>Ratnapura</option>
	<option value='Vavniya'>Vavniya</option>
</select>