<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %} ClimbUP {% endblock %}
	</title>
	{% load static %}
	<link rel="icon" type="image/ico" href="https://www.google.lk/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjjs7e3hNvfAhXJZCsKHYXlAo4QjRx6BAgBEAU&url=https%3A%2F%2Fopenclipart.org%2Ftags%2FC&psig=AOvVaw3_3J-pEOON9rgS6HpVHNa6&ust=1546928629912759" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
		.nav1{
		 	background-color:#f8f9f9;
			background-image: linear-gradient(#c6e2ff 0.5px, transparent 0.5px),
			linear-gradient(90deg, #c6e2ff 0.5px, transparent 0.5px),
			linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
			linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
			background-size:40px 40px, 40px 40px;
			background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
			}
	</style>
</head>
<body>
	<div class='container-fluid' style="background:#f8f9f9;min-height:700px">
		<div class="nav1 mb-3 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="min-height: 100px">
			<!-- navbar -->
			{% include 'snippits/nav.html' with university=university stream=stream %}
		</div>
		<div class="row">
			<!-- content -->
			<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
				<!-- left sidebar -->
				<div class="shadow-sm alert alert-light" role="alert">
			  		{% include 'snippits/left_sidebar.html' with university=university %}
				</div>
				<div class="shadow-sm alert alert-light" role="alert" style="min-height: 200px;">
			  		
			  		<div class="fb-page" data-href="https://fb.me/ClimbUP.lk" data-tabs="messages" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://fb.me/ClimbUP.lk" class="fb-xfbml-parse-ignore"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Ffb.me%2FClimbUP.lk&amp;h=AT255kTqVt5LfKMq70vgeVv2Peyr1UOTkMHZunJEKS6_7gJ1hBDzXLASjBoX0392jszdtTJrkNMzhdr8Y-QoGUOGA0mwInE-2CWF0_SXVKbiza9-IHdgf_Ac8NbhDnCVESwXCwL4MJKneFMmXdwjtiamnHk" target="_blank" rel="noopener nofollow" data-lynx-mode="asynclazy">Climbup</a></blockquote></div>
				</div>
			</div>
			<div class="col-sm-12 col-md-7 col-lg-7 col-xl-7" >
				<!-- main content -->
				<div class="shadow-sm alert alert-light" role="alert">
					{% block content %} 
					{% endblock %}
				</div>
			</div>
			<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 mr-auto" >
				<!-- right sidebar -->
				<div class="shadow-sm alert alert-light col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 10px">
					{% include 'snippits/help.html' %}	
				</div>
				<div class="shadow-sm alert alert-light col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-bottom: 10px;text-align: center;color:black">
					ClimbUP@2019	
				</div>
				<!-- <img class="shadow-sm col-sm-12 col-md-12 col-lg-12 col-xl-12"  src="{% static 'ad.gif' %}" style="margin-bottom: 10px;max-width: 200px;max-height: 200px">
				<img class="shadow-sm col-sm-12 col-md-12 col-lg-12 col-xl-12"  src="{% static 'ad.gif' %}" style="margin-bottom: 10px;max-width: 200px;max-height: 200px"> -->
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=248485499415495&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
</body>
</html>