{% extends 'base.html' %}

{% block title %} Home | {{block.super}} {% endblock %}

{% block content %}
	<div class="card" style="min-height:100px;padding: 20px">
		<div class="row mx-auto mt-3">
			<h3 style="color:black">Contact Us</h3>
		</div>
		<hr>
		<div class="card row mr-auto ml-auto mb-3 shadow-sm" style="font-size: 16px;color:gray;opacity: 0.8;background:#f8f9f9;padding: 10px">
			<p>You can message us about faults, innovative ideas and feedback through our official facebook page. Also we are posting new updates on our webstie through our face book page. So stay tuned with our official facebook page. The link to our page is given below. Also you can share our facebook page and website with other students to get more benifits from our website</p>
		</div>
		<div class="col-12">
			<div class="fb-page" data-href="https://fb.me/ClimbUP.lk" data-tabs="messages" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://fb.me/ClimbUP.lk" class="fb-xfbml-parse-ignore"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Ffb.me%2FClimbUP.lk&amp;h=AT255kTqVt5LfKMq70vgeVv2Peyr1UOTkMHZunJEKS6_7gJ1hBDzXLASjBoX0392jszdtTJrkNMzhdr8Y-QoGUOGA0mwInE-2CWF0_SXVKbiza9-IHdgf_Ac8NbhDnCVESwXCwL4MJKneFMmXdwjtiamnHk" target="_blank" rel="noopener nofollow" data-lynx-mode="asynclazy">Climbup</a></blockquote></div>
		</div>
		
	</div>
{% endblock %}