{% extends 'base.html' %}

{% block title %} Home | {{block.super}} {% endblock %}

{% block content %}
	<div class="card" style="min-height:100px;padding: 20px">
		<div class="row mx-auto mt-3">
			<h3 style="color:black">Resources</h3>
		</div>
		<hr>
		<div class="card row mr-auto ml-auto mb-3 shadow-sm" style="font-size: 16px;color:gray;opacity: 0.8;background:#f8f9f9;padding: 10px">
			<ul>
				<li>
					<p>All the information provided in this website is collecting from university hand book which are released every year by University Grant Commision. </p>
				</li>
				<li>
					<p>The informations updated every year in university hand book, while we too update accroding to university hand book. </p>
				</li>
				<li>
					<p>In future we will provide more informations and features by adding more resources to our website. </p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}