{% extends 'base.html' %}

{% block title %} Home | {{block.super}} {% endblock %}

{% block content %}
	<div class="card" style="min-height:100px;padding: 20px">
		<div class="row mx-auto mt-3">
			<h3 style="color:black">Streames?</h3>
		</div>
		<hr>
		<div class="card row mr-auto ml-auto mb-3 shadow-sm" style="font-size: 16px;color:gray;opacity: 0.8;background:#f8f9f9;padding: 10px">
			<ul>
				<li>
					<p>We have listed out streams in A/l which provided by Department of Education, Sri Lanka</p>
				</li>
				<li>
					<p>We have listed all university courses related to specific stream in particular page in our website</p>
				</li>
				<li>
					<p>Using this features you can find out courses related to streams in A/l</p>
				</li>
				<li>
					<p>We also provide an stream call Others which for who select subjects out off the stream, thus select subjects from two more streams.</p>
				</li>
				<li>
					<p>Although we are provided all courses related to specific field we have not provided subjects for specific field.</p>
				</li>
				<li>
					<p>We expecting from you to ipmrove this section via your innovative ideas.</p>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}