{% extends 'base.html' %}

{% block title %} Stream | {{block.super}} {% endblock %}

{% block content %}
	<div class="row mr-auto ml-auto" style="margin-bottom: 20px">
		<h4>Stream wise courses: <b style="color:#0470EC ">{{stream_name}}</b></h4>
	</div>
	<div class="row">
		<!-- search -->
		<div class="col-12 col-sm-5 col-md-3 col-lg-5 col-xl-6 mr-auto mb-2 mr-1" style="max-width: 70px">
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Streams
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #F5F7FA;opacity: 0.9">
			    <a class="dropdown-item" href="{% url 'stream:list' stream='maths'%}">Maths</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='bio'%}">Bio</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='commerce'%}">Commerce</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='arts'%}">Arts</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='btech'%}">Btech</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='etech'%}">Etech</a>
			    <a class="dropdown-item" href="{% url 'stream:list' stream='others'%}">Others</a>
			  </div>
			</div>
		</div>
		<div class="col-12 col-sm-7 col-md-9 col-lg-7 col-xl-6 ml-auto">
			<form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Course Name, University" aria-label="Search" style="border-radius: 20px;height: 30px;max-width: 180px;margin-right: 5px" name="search">
		      <button type="submit" style="height: 30px;background:#0470EC;color: white;border:1px solid #0470EC;border-radius: 5px; ">Search</button>
		    </form>
	    </div>
	</div><hr>
	<div class="row mr-auto ml-auto"> 
		<h6 style="color:#0470EC;">Results: {{object_list.count}} Courses</h6>
	</div>
	<div class="row" style="overflow-x: scroll;max-height:600px">
		<!-- university list -->
		{% for course in object_list %}
			<div class="col-12">
				{% include 'universities/snippits/course.html' with course=course %}
			</div>
		{% empty %}
			<div class="col-12 mr-auto ml-auto">
				<p style="text-align: center;">Not Found</p>
			</div>
		{% endfor %}
	</div>
{% endblock content %}